@import url('https://fonts.googleapis.com/css?family=Oxanium:400,700&display=swap&subset=latin-ext');

*
  font-family: 'Oxanium' !important

.img-s
  width: 40%
  @media screen and (max-width: 800px)
    width: 80%